CompileFlags:
  CompilationDatabase: build

Diagnostics:
  ClangTidy:
    Remove:
      - cppcoreguidelines-non-private-member-variables-in-classes
      - misc-non-private-member-variables-in-classes
